@import "colors";
@import "buttons";
@import "home";
@import "form";

*:focus {
    outline: none;
}

legend {
    border-bottom: none;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Playfair Display', serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}

.svg-icon {
    display: inline-block;
    vertical-align: middle;
    width: 1.6em;
    height: 1.6em;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

footer {
    padding-bottom: 50px;
}

.custom-navbar {
    background: #fff;
    background: rgba(255,255,255,.9);
}

.custom-navbar ul.nav {
    display: flex;
    padding: 0 10%;
}

.custom-navbar ul.nav li {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;

    margin-top: 5px;
    border-bottom: 5px solid transparent;
}

.custom-navbar ul.nav li:hover a {
    border-bottom: 5px solid #999;
}

.custom-navbar ul.nav li.active a {
    border-bottom: 5px solid black;
}

.custom-navbar ul.nav li > * {
    margin: 0 auto;
    color: $col-dark;
}

.custom-navbar ul.nav li a:hover, .custom-navbar .nav>li>a:focus {
    background: inherit;
}

#site-logo {
    text-align: center;
}

#site-header {
    text-align: center;
}

#site-header img {
    width: 100%;
}


.wrapped-section {
    position: relative;
    padding: 0 50px;
    padding-top: 50px;
    overflow: hidden;
}

.wrapped-section::before {
    content: "Lorum Ipsum";
    position: absolute;
    left: 35px;
    top: 50%;
    width: 0;
    height: 0;
    overflow:visible;
    white-space: nowrap;
    transform: translate(50%, 50%) rotate(90deg);
}

.wrapped-section::after {
    content: "Lorum Ipsum";
    position: absolute;
    right: 11px;
    top: 50%;
    width: 0;
    height: 0;
    overflow:visible;
    white-space: nowrap;
    transform: translate(50%, 50%) rotate(90deg);
}

header.wrapped-section {
    padding-top: 0;
}

.section-title {
    text-align: center;
}

section.work .section-title {
    padding-bottom: 30px;
}

.work-grid {
    margin: -10px;
}

.work-grid .grid-item {
    // width: 33%;
    padding: 10px;
}

.work-grid .grid-item img {
    border-radius: 2px;
}

.work-grid .grid-item img {
    width: 100%;
}

#about {
    background: #e1fff5;
    background-clip: content-box;
}

#about .section-content {
    padding: 100px;
}

#about .section-title {
    margin-top: 50px;
}

.section-title h3::before {
    content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGxpbmUgeTI9IjEuNSIgeDI9IjEwMCIgeTE9IjEuNSIgeDE9IjAiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2U9IiMwMDAiIC8+Cjwvc3ZnPg==');
    position: relative;
    top: -7px;
    left: -10px;
}

#about .section-content {
    text-align: center;

}

#about .jumbo {
    margin: 50px auto;
    width: 500px;
    max-width: 100%;
}

#about .section-content .cs-btn {
    margin: 50px 0;
    display: inline-block;
}

section.contact .section-title {
    position: absolute;
    top: 70px;
    z-index: 10;
    left: 0;
    right: 0;
}

.contact-col {
    padding: 80px;
    padding-top: 200px;
}

.contact-banner .jumbo h1 {
    margin-top: 0;
}

.contact-banner .contact-banner-social {
    margin-top: 70px;
}

.contact-banner .contact-banner-social ul {
    list-style: none;
    padding-left: 0;
}

.contact-banner .contact-banner-social ul li {
    display: inline-block;
}

.contact-banner .contact-banner-social li a {
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background: #f9cec5;
    margin-right: 25px;
    color: white;
    font-size: 20px;
    width: 52px;
    height: 52px;
}

.contact-banner .contact-banner-social li svg {
    width: 32px;
    height: 32px;
    fill: white;
}

.contact-banner .contact-banner-social .username {
    display: none;
}

.contact-form {
    background: #ffd4c1;
    box-shadow: 0 0 1px #ffd4c1;
    border-radius: 1px;
}

.arrow-up a {
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
}

.arrow-up {
    margin-top: 50px;
}

#contact-submit-btn {
    margin-top: 20px;
}

footer {
    margin-top: 50px;
    background: #000;
    color: white;
    padding: 100px;
    text-align: center;
    word-spacing: 1em;
}

footer .social-media-list {
    list-style: none;
    padding-left: 0;
}

footer .social-media-list li {
    display: inline-block;
}

footer .social-media-list li .username {
    display: none;
}

footer .social-media-list li .svg-icon {
    fill: white;
}

footer #telandmail {
    position: relative;
    width: 1px;
    display: block;
    margin: auto;
    white-space: nowrap;
}

footer #telandmail::before {
    content: $email;
    right: 7px; top: 0; bottom: 0;
    position: absolute;
}

footer #telandmail::after {
    content: $phone;
    left: 7px; top: 0; bottom: 0;
    position: absolute;
}

